<template name="home">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">


    {{#if currentUser}}
      {{#if pic}}
        <div class="row">
          <div class="col-sm-2">
            <img src={{pic}}>
          </div>
          <div class="col-sm-10">
            <a href="/inviteFriends" class="btn btn-lg btn-success">
              <i class="fa fa-plane"></i>
              Invita Amici
            </a>
          </div>
        </div>
      {{/if}}
    {{else}}
      <div class="text-center">

        <h1>
          Scopri cosa pensano di te i tuoi amici!
        </h1>
        <p class="">
          Gioca al Tinder del match di identità
          <br>
          potrai scoprire i servizi più adatti per te!
        </p>
        <br>

        {{> loginButtons}}

      </div>
    {{/if}}


  </div>
</template>
