<template name="home">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">


    {{#if currentUser}}
      {{#if pic}}
        <div class="row">
          <div class="col-sm-2">
            <img src={{pic}}>
          </div>
          <div class="col-sm-10">
            <a href="/inviteFriends" class="btn btn-lg btn-success">
              <i class="fa fa-plane"></i>
              Invita Amici
            </a>
          </div>
        </div>
      {{/if}}
    {{else}}
      {{> loginButtons}}
    {{/if}}


  </div>
</template>
