<template name="myEndorsements">

    <div class="panel-body">
        <ul class="list-group">
            {{#each endorsements}}
            <li class="list-group-item">
                <img src="{{this.picture}}" alt="profile picture" class="profileImageList">
               {{this.name}} ha detto: "{{this.statement}}"
                <div class="pull-right action-buttons">
                    <i class="fa fa-close" data-claim="{{this.claim}}"></i>
                    <i class="fa fa-check"  data-claim="{{this.claim}}" data-action="share"></i>
                </div>
            </li>
            {{else}}
              Nessun parere da parte dei tuoi amici
            {{/each}}
        </ul>
    </div>
    
</template>
